/**
 * 이미지 드래그 막기
 */
@utility drag-none {
  -webkit-user-drag: none;
}

/**
 * Skeleton Loading 애니메이션 적용
 */
@utility skeleton {
  animation: pulse 1.5s infinite;
}

/**
 * 앱 전체 레이아웃 최대 폭 컨테이너
 */
@utility container-app {
  width: 100%;
  max-width: 480px;
  margin-inline: auto;
}
