@theme {
  /*
   * Surface
   */
  --color-surface-background: var(--color-primitive-neutral-50);
  --color-surface-brand: var(--color-primitive-primary-500);
  --color-surface-brand-subtle: var(--color-primitive-primary-50);
  --color-surface-secondary: var(--color-primitive-secondary-200);
  --color-surface-card: var(--color-primitive-white);
  --color-surface-elevated: var(--color-primitive-white);
  --color-surface-disabled: var(--color-primitive-neutral-100);
  --color-surface-overlay: color-mix(in srgb, var(--color-primitive-black) 50%, transparent);
  --color-surface-inverse: var(--color-primitive-neutral-900);

  /*
   * Text
   */
  --color-text-primary: var(--color-primitive-neutral-900);
  --color-text-secondary: var(--color-primitive-neutral-600);
  --color-text-tertiary: var(--color-primitive-neutral-500);
  --color-text-disabled: var(--color-primitive-neutral-400);

  --color-text-inverse: var(--color-primitive-white);
  --color-text-on-brand: var(--color-primitive-white);
  --color-text-brand: var(--color-primitive-primary-500);

  /*
   * Border
   */
  --color-border-default: var(--color-primitive-neutral-200);
  --color-border-strong: var(--color-primitive-neutral-300);
  --color-border-disabled: var(--color-primitive-neutral-100);
  --color-border-brand: var(--color-primitive-primary-500);
  --color-border-focus: var(--color-primitive-primary-600);
  --color-border-error: var(--color-primitive-error-500);

  /*
   * Status / Success
   */
  --color-status-success-background: var(--color-primitive-success-100);
  --color-status-success-border: var(--color-primitive-success-300);
  --color-status-success-text: var(--color-primitive-success-500);

  /*
   * Status / Warning
   */
  --color-status-warning-background: var(--color-primitive-warning-100);
  --color-status-warning-border: var(--color-primitive-warning-300);
  --color-status-warning-text: var(--color-primitive-warning-500);

  /*
   * Status / Error
   */
  --color-status-error-background: var(--color-primitive-error-100);
  --color-status-error-border: var(--color-primitive-error-300);
  --color-status-error-text: var(--color-primitive-error-500);

  /*
   * Status / Info
   */
  --color-status-info-background: var(--color-primitive-info-100);
  --color-status-info-border: var(--color-primitive-info-300);
  --color-status-info-text: var(--color-primitive-info-500);
}
